<!-- begin .cost -->
<section class="cost">
  <!-- begin .cost_wrap -->
  <div class="cost_wrap">
    <!-- begin .cost_headline -->
    <div class="cost_headline">
      <h2 class="h2">Стоимость услуг</h2>
      <a href="#" class="go-link">Перейти в раздел</a>
    </div>
    <!-- end .cost_headline -->
    <!-- begin .cost_list -->
    <div class="cost_list">
      <!-- begin .cost_item -->
      <div class="cost_item">
        <!-- begin .cost_item_name -->
        <div class="cost_item_name">бюджетно</div>
        <!-- end .cost_item_name -->
        <!-- begin .cost_item_box -->
        <div class="cost_item_box">
          <!-- begin .cost_item_body -->
          <div class="cost_item_body">
            <!-- begin .cost_item_price -->
            <div class="cost_item_price">33.600&nbsp;<span>₽</span></div>
            <!-- end .cost_item_price -->
            <p class="cost_item_text"><strong>состав пакета:</strong></p>
            <ul class="cost_item_list">
              <li>ритуальные принадлежности</li>
              <li>подготовка тела</li>
              <li>кремация</li>
              <li>транспорт (перевозка)</li>
            </ul>
          </div>
          <!-- end .cost_item_body -->
          <!-- begin .cost_item_footer -->
          <div class="cost_item_footer">
            <a href="#" class="more-link">подробнее</a>
          </div>
          <!-- end .cost_item_footer -->
        </div>
        <!-- end .cost_item_box -->
      </div>
      <!-- end .cost_item -->
      <!-- begin .cost_item -->
      <div class="cost_item highlighted">
        <!-- begin .cost_item_name -->
        <div class="cost_item_name">оптимально</div>
        <!-- end .cost_item_name -->
        <!-- begin .cost_item_box -->
        <div class="cost_item_box">
          <!-- begin .cost_item_body -->
          <div class="cost_item_body">
            <!-- begin .cost_item_price -->
            <div class="cost_item_price">49.000&nbsp;<span>₽</span></div>
            <!-- end .cost_item_price -->
            <p class="cost_item_text"><strong>состав пакета:</strong></p>
            <ul class="cost_item_list">
              <li>ритуальные принадлежности (расширенный ассортимент)</li>
              <li>подготовка тела</li>
              <li>погребение/кремация</li>
              <li>транспорт (микроавтобус)</li>
            </ul>
          </div>
          <!-- end .cost_item_body -->
          <!-- begin .cost_item_footer -->
          <div class="cost_item_footer">
            <a href="#" class="more-link">подробнее</a>
          </div>
          <!-- end .cost_item_footer -->
        </div>
        <!-- end .cost_item_box -->
      </div>
      <!-- end .cost_item -->
      <!-- begin .cost_item -->
      <div class="cost_item">
        <!-- begin .cost_item_name -->
        <div class="cost_item_name">роскошно</div>
        <!-- end .cost_item_name -->
        <!-- begin .cost_item_box -->
        <div class="cost_item_box">
          <!-- begin .cost_item_body -->
          <div class="cost_item_body">
            <!-- begin .cost_item_price -->
            <div class="cost_item_price">165.770&nbsp;<span>₽</span></div>
            <!-- end .cost_item_price -->
            <p class="cost_item_text"><strong>состав пакета:</strong></p>
            <ul class="cost_item_list">
              <li>ритуальные принадлежности (максимальный ассортимент)</li>
              <li>подготовка тела умершего</li>
              <li>транспорт</li>
              <li>погребение/кремация</li>
              <li>сервисные услуги</li>
            </ul>
          </div>
          <!-- end .cost_item_body -->
          <!-- begin .cost_item_footer -->
          <div class="cost_item_footer">
            <a href="#" class="more-link">подробнее</a>
          </div>
          <!-- end .cost_item_footer -->
        </div>
        <!-- end .cost_item_box -->
      </div>
      <!-- end .cost_item -->
    </div>
    <!-- end .cost_list -->
  </div>
  <!-- end .cost_wrap -->
</section>
<!-- end .cost -->
