.cost {
  padding-top: 80px;
  padding-bottom: 80px;

  &_wrap {
    max-width: 1169px;
    margin: 0 auto;
  }

  &_headline {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  &_list {
    margin-top: 90px;
    padding-bottom: 180px;
    padding-left: 44px;
    padding-right: 44px;
    display: flex;
    align-items: stretch;
    align-content: stretch;
  }

  &_item {
    margin-right: 20px;
    width: 340px;
    position: relative;

    &:last-child { margin-right: 0; }

    &_head {
      background-color: #A6A19F;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      padding: 30px 55px;
      text-align: center;
      font-family: 'Open Sans';
      color: #F3F7F8;
      font-style: italic;
      font-size: 16px;
      line-height: 22px;
    }

    &_body {
      padding: 30px 40px 30px 50px;
    }

    &_name {
      text-align: center;
      margin-bottom: 24px;
      color: #A6A19F;
      font-family: 'TT Prosto Sans';
      font-size: 28px;
      font-weight: 100;
      line-height: 42px;
    }

    &_box {
      overflow: hidden;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
      position: relative;
      height: 100%;
    }

    &_footer {
      position: absolute;
      bottom: 25px;
      left: 0;
      right: 0;
      text-align: center;
      font-family: 'TT Prosto Sans';
      font-size: 17px;
      line-height: 17px;
      font-weight: 100;

      a.more-link {
        color: #A6A19F;

        &:hover {
          color: #2E2B77;
        }
      }
    }

    &_price {
      margin-bottom: 30px;
      text-align: center;
      color: #2E2B77;
      font-family: 'TT Prosto Sans';
      font-size: 48px;
      line-height: 48px;
      font-weight: bold;

      span { font-weight: 200; }
    }

    &_text,
    &_list {
      font-family: 'TT Prosto Sans';
      font-size: 14px;
      line-height: 20px;
      color: #2E2B77;
      margin: 0;
      padding: 0;
    }

    &_list {
      list-style-type: none;
      margin: 10px 0 0 0;
      padding: 0;

      & > li {
        margin: 0 0 10px 0;
        padding: 0;

        &:last-child { margin-bottom: 0; }
      }
    }

    &.highlighted {

      .cost_item_head {
        background-color: #8681FC;
      }

      .cost_item_name {
        font-weight: bold;
        color: #8681FC;
        position: relative;

        .label {
          position: absolute;
          top: -10px;
          right: 29px;
        }
      }

      .cost_item_box {
        background-color: #F3F7F8;
        // background-image: url('../images/bg-cost.png');
      }
    }
  }
}
