RemoveHandler .html .htm
AddType application/x-httpd-php .php .htm .html .phtml

AuthName 'Who are you? Identify yourself.'
AuthType Basic
AuthUserFile /home/h808143119/test.broniks.ru/.authfile
require valid-user
