<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
  ymaps.ready(init);
  var myMap,
    myPlacemark;
  function init(){
    myMap = new ymaps.Map ("map", {
      center: [55.614780, 37.527121],
      zoom: 15,
      controls: []
    });
    var myPlacemark = new ymaps.Placemark([55.614780, 37.527121], {
      hintContent: 'Броникс-Сервис',
      balloonContentBody: '<div class="balloon_body">Броникс-Сервис</div>',
      balloonContentFooter: '<div class="balloon_footer"><span class="map-place">Москва, Литовский бульвар, 1А</span><a href="tel:+74956496494" class="map-tel-link"><span class="tel-link_ico">☎</span><span class="tel-link_number">8 (495) 649-64-94</span></a></div>',
    }, {
      iconColor: '#2E2B77'
    });
    myMap.geoObjects.add(myPlacemark);
    myMap.controls.add('zoomControl');
    myMap.controls.remove('typeSelector');
  }
</script>

<!-- begin .contacts -->
<section class="contacts">
  <!-- begin .contacts_wrap -->
  <div class="contacts_wrap">
    <!-- begin .contacts_col contacts_map -->
    <div class="contacts_col contacts_map" id="map"></div>
    <!-- end .contacts_col contacts_map -->
    <!-- begin .contacts_col -->
    <div class="contacts_col contacts_info">
      <!-- begin .contacts_box -->
      <div class="contacts_box">
        <h2 class="h2">Контакты</h2>
        <p>Адрес: Литовский б-р, 1 а, Москва, 117593 <br> Телефон: <a href="tel:+74956496494" class="text-color">8 (495) 649-64-94</a></p>
        <p><a href="#rekvizity_bronix" class="light-link _modal-link">банковские реквизиты</a></p>
        <form action="forms.php" class="form-horizontal _check_agent">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="№ удостоверения" required>
            <button class="button">Проверить</button>
          </div>
        </form>
      </div>
      <!-- end .contacts_box -->
    </div>
    <!-- end .contacts_col -->
  </div>
  <!-- end .contacts_wrap -->
</section>
<!-- end .contacts -->
