---
title: 'Что делать, если наступила смерть близкого Вам человека?'
description:
keywords:
bodyclass:
---

{% extends "layouts/layout.html" %}

{% block header %}
  {% include "components/header/header.html" %}
{% endblock %}

{% block content %}
  {% include "components/case/case.html" %}
  {#% include "components/verify/verify.html" %#}
  {% include "components/cost/cost.html" %}
  {#% include "components/statistics/statistics.html" %#}
  {% include "components/additional/additional.html" %}
  {% include "components/contacts/contacts.html" %}
{% endblock %}
