<!DOCTYPE html>
<html lang="ru">
  <head>
  <meta charset="UTF-8">
  <title>Сайт «Броникс»</title>
  <link rel="shortcut icon" href="assets/images/i/favicon.ico" type="image/x-icon"/>
  <link rel="icon" href="assets/images/i/favicon.ico" type="image/x-icon"/>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style type="text/css">
    .table .thead-dark th {
      background-color: #2E2B77;
      border-color: #2E2B77;
    }
    .is-empty td {
      text-align: center;
      color: #ffffff;
    }
  </style>
  </head>
  <body>

  <div class="container-fluid">

    <table cellspacing="0" border="0" width="100%" class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Дата</th>
          <th scope="col">Представились</th>
          <th scope="col">Телефонный номер</th>
        </tr>
      </thead>
      <tbody>
        <?
          $fileorder = '_dataforms.txt';
          if ( file_exists($fileorder) ) {
            include("_dataforms.txt");
          } else {
            echo '<tr class="bg-danger is-empty"><td colspan="9">Заявок, увы, пока нет :—(</td></tr>';
          }
        ?>
      </tbody>
    </table>

    <!-- Content here -->
  </div>
  </body>
</html>
