---
title: '«Броникс» — Стоимость услуг'
description:
keywords:
bodyclass:
cremation_budgetary:
 - title: 'Гроб «Продольное гофре» шелк'
   cost: '6.800'
 - title: 'Подушка «стежка» шелк'
   cost: '1.500'
 - title: 'Тапочки стежка'
   cost: '600'
 - title: 'Покрывало тюлевое православное'
   cost: '1.000'
 - title: 'Катафальный транспорт к месту кремации (автобус ПАЗ)'
   cost: '7.800'
 - title: 'Комплекс работ по подготовке тела'
   cost: '12.000'
 - title: 'Оформление заказа'
   cost: '600'
 - title: 'Кремация умершего (включая предоставление ритуального зала для проведения гражданской панихиды)'
   cost: '4.300'
cremation_optimally:
 - title: 'Гроб деревянный'
   cost: '19.800'
 - title: 'Подушка «стежка» шелк'
   cost: '1.500'
 - title: 'Тапочки стежка'
   cost: '600'
 - title: 'Покрывало «стежка» шелк без религиозной символики'
   cost: '2.000'
 - title: 'Катафальный транспорт к месту кремации (микроавтобус 14 мест)'
   cost: '9.850'
 - title: 'Комплекс работ по подготовке тела'
   cost: '12.000'
 - title: 'Оформление заказа'
   cost: '600'
 - title: 'Кремация умершего (включая предоставление ритуального зала для проведения гражданской панихиды)'
   cost: '4.300'
 - title: 'Выезд агента для получения гербового свидетельства о смерти'
   cost: '1.000'
 - title: 'Выезд агента для получения медицинского свидетельства о смерти'
   cost: '1.350'
cremation_luxuriously:
 - title: 'Гроб полированный 4-гранный'
   cost: '29.800'
 - title: 'Подушка «стежка» шелк'
   cost: '1.500'
 - title: 'Покрывало с накидкой на подушку '
   cost: '5.500'
 - title: 'Гирлянда'
   cost: '2.500'
 - title: 'Тапочки белые из кожзаменителя'
   cost: '700'
 - title: 'Катафальный транспорт к месту захоронения (микроавтобус 14 мест) с обратным маршрутом'
   cost: '12.700'
 - title: 'Комплекс работ по подготовке тела'
   cost: '15.500'
 - title: 'Оформление заказа'
   cost: '600'
 - title: 'Кремация умершего (включая предоставление ритуального зала для проведения гражданской панихиды)'
   cost: '4.300'
 - title: 'Музыкальное сопровождение гражданской панихиды в зале крематория'
   cost: '570'
 - title: 'Выезд агента для получения гербового свидетельства о смерти'
   cost: '1.000'
 - title: 'Выезд агента для получения медицинского свидетельства о смерти'
   cost: '1.350'
 - title: 'Сопровождение бригады грузчиков к месту кремации (четыре человека)'
   cost: '1.300'
 - title: 'Сопровождение агентом похоронной процессии в крематорий'
   cost: '12.000'
 - title: 'Организация и проведение церемонии прощания '
   cost: '3.150'
 - title: 'Доставка одежды для облачения умершего'
   cost: '1.600'
burial_budgetary:
 - title: 'Гроб «Продольное гофре» шелк'
   cost: '6.800'
 - title: 'Подушка «стежка» шелк'
   cost: '1.500'
 - title: 'Тапочки стежка'
   cost: '600'
 - title: 'Покрывало тюлевое православное'
   cost: '1.000'
 - title: 'Катафальный транспорт к месту кремации (автобус ПАЗ)'
   cost: '7.800'
 - title: 'Комплекс работ по подготовке тела'
   cost: '12.000'
 - title: 'Оформление заказа'
   cost: '600'
 - title: 'Рытье могилы для гроба и комплекс работ по захоронению*'
   cost: '9.670'
burial_optimally:
 - title: 'Гроб деревянный'
   cost: '19.800'
 - title: 'Подушка «стежка» шелк'
   cost: '1.500'
 - title: 'Тапочки стежка'
   cost: '600'
 - title: 'Покрывало «стежка» шелк без религиозной символики'
   cost: '2.000'
 - title: 'Катафальный транспорт к месту захоронения (микроавтобус 14 мест)'
   cost: '9.850'
 - title: 'Крест деревянный (сосна) 210 см '
   cost: '4.500'
 - title: 'Табличка на могилу 20х30 см (пластик)'
   cost: '1.300'
 - title: 'Венок из искусственных цветов 120см'
   cost: '3.300'
 - title: 'Лента шелковая стандарт'
   cost: '800'
 - title: 'Комплекс работ по подготовке тела'
   cost: '12.000'
burial_luxuriously:
 - title: 'Гроб полированный 4-гранный'
   cost: '29.800'
 - title: 'Подушка «стежка» шелк'
   cost: '1.500'
 - title: 'Покрывало с накидкой на подушку '
   cost: '5.500'
 - title: 'Гирлянда'
   cost: '2.500'
 - title: 'Катафальный транспорт к месту захоронения (микроавтобус 14 мест) с обратным маршрутом'
   cost: '12.700'
 - title: 'Венок из искусственных цветов 150см (2 шт)'
   cost: '15.000'
 - title: 'Ленты на венок атласные заказные (2шт)'
   cost: '3.600'
 - title: 'Крест дубовый «вечная память» 230 cм'
   cost: '8.900'
 - title: 'Табличка на могилу 20х30 см (пластик)'
   cost: '1.500'
 - title: 'Фоторамка водостойкая'
   cost: '1.300'
 - title: 'Комплекс работ по подготовке тела'
   cost: '15.500'
 - title: 'Оформление заказа'
   cost: '600'
 - title: 'Рытье могилы для гроба, драпировка могилы тканью, оформление лапником и захоронение умершего'
   cost: '16.790'
 - title: 'Выезд агента для получения гербового свидетельства о смерти'
   cost: '1.000'
 - title: 'Выезд агента для получения медицинского свидетельства о смерти'
   cost: '1.350'
 - title: 'Сопровождение бригады грузчиков к месту захоронения (четыре человека)'
   cost: '12.000'
 - title: 'Сопровождение агентом похоронной процессии на кладбище'
   cost: '3.550'
 - title: 'Организация и проведение церемонии прощания '
   cost: '1.600'
 - title: 'Доставка одежды для облачения умершего'
   cost: '1.800'
---

- title: ''
  cost: ''

{% extends "layouts/layout.html" %}

{% block header %}
  {% include "components/header/header-light.html" %}
{% endblock %}

{% block content %}
  {% include "components/content/prices.html" %}
  {% include "components/additional/additional.html" %}
{% endblock %}
