<!-- begin .statistics -->
<section class="statistics">
  <!-- begin .statistics_wrap -->
  <div class="statistics_wrap">
    <!-- begin .statistics_list -->
    <div class="statistics_list">

      <!-- begin .statistics_item -->
      <div class="statistics_item">
        <!-- begin .statistics_name -->
        <div class="statistics_name">сертифицированных агентов</div>
        <!-- end .statistics_name -->
        <!-- begin .statistics_count -->
        <div class="statistics_count">285</div>
        <!-- end .statistics_count -->
      </div>
      <!-- end .statistics_item -->

      <!-- begin .statistics_item -->
      <div class="statistics_item">
        <!-- begin .statistics_name -->
        <div class="statistics_name">специализированный автопарк</div>
        <!-- end .statistics_name -->
        <!-- begin .statistics_count -->
        <div class="statistics_count">18</div>
        <!-- end .statistics_count -->
      </div>
      <!-- end .statistics_item -->

      <!-- begin .statistics_item -->
      <div class="statistics_item">
        <!-- begin .statistics_name -->
        <div class="statistics_name">благодарных клиентов</div>
        <!-- end .statistics_name -->
        <!-- begin .statistics_count -->
        <div class="statistics_count">7546</div>
        <!-- end .statistics_count -->
      </div>
      <!-- end .statistics_item -->

    </div>
    <!-- end .statistics_list -->
  </div>
  <!-- end .statistics_wrap -->
</section>
<!-- end .statistics -->
