<!-- begin .content -->
<div class="content">
  <!-- begin .content_wrap -->
  <div class="content_wrap">
    <!-- begin .content_headline -->
    <div class="content_headline">
      <h1 class="h1">О компании</h1>
    </div>
    <!-- end .content_headline -->

    <!-- begin .content-box -->
    <div class="content-box about-page text">
      <!-- begin .about-people -->
      <div class="about-people">
        <!-- begin .about-people_photo -->
        <div class="about-people_photo">
          <img src="assets/images/nikolaev-alexey.png" alt="Николаев Алексей Борисович">
        </div>
        <!-- end .about-people_photo -->
        <!-- begin .about-people_info -->
        <div class="about-people_info">
          <!-- begin .about-people_name -->
          <div class="about-people_name">Николаев Алексей Борисович</div>
          <!-- end .about-people_name -->
          <!-- begin .about-people_position -->
          <div class="about-people_position">Генеральный директор компании «Броникс-Сервис»</div>
          <!-- end .about-people_position -->
        </div>
        <!-- end .about-people_info -->
      </div>
      <!-- end .about-people -->
      <p>Мы в ответе за своих клиентов.  Ведь прощание с близкими невозможно отрепе-тировать заранее, оно случается всего лишь раз и наша задача заключается в том, чтобы максимально деликатно и тактично помочь родственникам умершего проститься с близким им человеком.</p>
      <p>Именно тактичность и деликатность, а также знание всех тонкостей работы отличают нашу компанию от многих других. Именно эти качества сотрудников составляют основу философии нашего коллектива.</p>
      <p>Опыту нашей компании доверяют Российская  Академия  Наук, Благотворительный фонд Подари жизнь, Первый канал Российского телевидения и многие другие. Представительства нашей компании есть во всех клиниках Российской Академии наук. </p>
      <p>Наша компания динамично развивается. Ведется постоянная работа по улучшению качества обслуживания. Мы проводим огромную работу по профессиональной подготовке и обучению специалистов ритуального дела, потому что именно от профессионализма наших сотрудников зависит то, с каким чувством вы проводите своих близких в последний путь.</p>
    </div>
    <!-- end .content-box -->
  </div>
  <!-- end .content_wrap -->

  <!-- begin .about-statistics -->
  <div class="about-statistics">
    <!-- begin .about-statistics_wrap -->
    <div class="about-statistics_wrap">
      <!-- begin .about-statistics-list -->
      <div class="about-statistics-list">

        <!-- begin .about-statistics_item -->
        <div class="about-statistics_item">
          <!-- begin .about-statistics_box -->
          <div class="about-statistics_box">
            <!-- begin .about-statistics_description -->
            <div class="about-statistics_description">сертифицированных агентов</div>
            <!-- end .about-statistics_description -->
            <!-- begin .about-statistics_value -->
            <div class="about-statistics_value">285</div>
            <!-- end .about-statistics_value -->
          </div>
          <!-- end .about-statistics_box -->
        </div>
        <!-- end .about-statistics_item -->

        <!-- begin .about-statistics_item -->
        <div class="about-statistics_item">
          <!-- begin .about-statistics_box -->
          <div class="about-statistics_box">
            <!-- begin .about-statistics_description -->
            <div class="about-statistics_description">специализированный автопарк</div>
            <!-- end .about-statistics_description -->
            <!-- begin .about-statistics_value -->
            <div class="about-statistics_value">18</div>
            <!-- end .about-statistics_value -->
          </div>
          <!-- end .about-statistics_box -->
        </div>
        <!-- end .about-statistics_item -->

        <!-- begin .about-statistics_item -->
        <div class="about-statistics_item">
          <!-- begin .about-statistics_box -->
          <div class="about-statistics_box">
            <!-- begin .about-statistics_description -->
            <div class="about-statistics_description">благодарных клиентов</div>
            <!-- end .about-statistics_description -->
            <!-- begin .about-statistics_value -->
            <div class="about-statistics_value">7546</div>
            <!-- end .about-statistics_value -->
          </div>
          <!-- end .about-statistics_box -->
        </div>
        <!-- end .about-statistics_item -->

      </div>
      <!-- end .about-statistics-list -->
    </div>
    <!-- end .about-statistics_wrap -->
  </div>
  <!-- end .about-statistics -->
  <!-- begin .about-certificates -->
  <div class="about-certificates"></div>
  <!-- end .about-certificates -->
  <!-- begin .about-memory -->
  <div class="about-memory"></div>
  <!-- end .about-memory -->
  <!-- begin .about-reviews -->
  <div class="about-reviews"></div>
  <!-- end .about-reviews -->
  <!-- begin .about-team -->
  <div class="about-team"></div>
  <!-- end .about-team -->
  <!-- begin .about-partners -->
  <div class="about-partners"></div>
  <!-- end .about-partners -->
</div>
<!-- end .content -->
