<!-- begin .content -->
<div class="content">
  <!-- begin .content_wrap -->
  <div class="content_wrap">
    <!-- begin .content_headline -->
    <div class="content_headline">
      <h1 class="h1">О компании</h1>
    </div>
    <!-- end .content_headline -->

    <!-- begin .content-box -->
    <div class="content-box about-page text">
      <p>Мы в ответе за своих клиентов.  Ведь прощание с близкими невозможно отрепе-тировать заранее, оно случается всего лишь раз и наша задача заключается в том, чтобы максимально деликатно и тактично помочь родственникам умершего проститься с близким им человеком.</p>
      <p>Именно тактичность и деликатность, а также знание всех тонкостей работы отличают нашу компанию от многих других. Именно эти качества сотрудников составляют основу философии нашего коллектива.</p>
      <p>Опыту нашей компании доверяют Российская  Академия  Наук, Благотворительный фонд Подари жизнь, Первый канал Российского телевидения и многие другие. Представительства нашей компании есть во всех клиниках Российской Академии наук. </p>
      <p>Наша компания динамично развивается. Ведется постоянная работа по улучшению качества обслуживания. Мы проводим огромную работу по профессиональной подготовке и обучению специалистов ритуального дела, потому что именно от профессионализма наших сотрудников зависит то, с каким чувством вы проводите своих близких в последний путь.</p>
    </div>
    <!-- end .content-box -->
  </div>
  <!-- end .content_wrap -->
</div>
<!-- end .content -->
