<!-- begin .content -->
<div class="content">
  <!-- begin .content_wrap -->
  <div class="content_wrap">
    <!-- begin .content_headline -->
    <div class="content_headline">
      <h1 class="h1">Стоимость услуг</h1>
    </div>
    <!-- end .content_headline -->

    <!-- begin .content-box -->
    <div class="content-box prices text">
      <p>На&nbsp;этой странице представлены цены на&nbsp;ритуальные услуги городской службы Ritual.ru. Здесь вы&nbsp;сможете выбрать план похорон, представляющий оптимальную для вашего бюджета стоимость захоронения. </p>
      <p>Только городские похоронные службы (Ritual.ru&nbsp;&mdash; старейшая из&nbsp;них) осуществляют похороны москвичей бесплатно, если умерший был неработающим пенсионером или зарегистрированным безработным. Оформление таких похорон производится за&nbsp;счёт федерального и&nbsp;городского пособия на&nbsp;погребение.</p>
    </div>
    <!-- end .content-box -->

  </div>
  <!-- end .content_wrap -->


  <!-- begin .content_wrap -->
  <div class="content_wrap">
    <!-- begin .content_headline -->
    <div class="content_headline content_headline-sides">
      <h2 class="h2-light">Пакеты услуг</h1>
      <!-- begin .switch -->
      <div class="switch">
        <label class="form-radio">
          <input class="radio" type="radio" name="radio-test">
          <span class="radio-custom"></span>
          <span class="label">кремация</span>
        </label>
        <label class="form-radio">
          <input class="radio" type="radio" name="radio-test">
          <span class="radio-custom"></span>
          <span class="label">погребение</span>
        </label>
      </div>
      <!-- end .switch -->
    </div>
    <!-- end .content_headline -->
    <!-- begin .prices-tabs -->
    <div class="prices-tabs">
      <!-- begin .tabs-list -->
      <ul class="tabs-list">
        <li class="tabs-list_item is-active"><a href="" class="tabs-list_link">бюджетно</a></li>
        <li class="tabs-list_item"><a href="" class="tabs-list_link">оптимально</a></li>
        <li class="tabs-list_item"><a href="" class="tabs-list_link">роскошно</a></li>
      </ul>
      <!-- end .tabs-list -->
    </div>
    <!-- end .prices-tabs -->
    <!-- begin .prices-total -->
    <div class="prices-total">
      <!-- begin .prices-total_items -->
      <div class="prices-total_items">
        <h3 class="h2-light lighter">Что включено</h3>
        <ul class="light-list">
          <li>ритуальные принадлежности</li>
          <li>подготовка тела умершего</li>
          <li>транспорт</li>
          <li>кремация</li>
        </ul>
      </div>
      <!-- end .prices-total_items -->
      <!-- begin .prices-total_cost -->
      <div class="prices-total_cost">33.600&thinsp;<span>₽</span></div>
      <!-- end .prices-total_cost -->
    </div>
    <!-- end .prices-total -->
    <!-- begin .prices-list -->
    <div class="prices-list">

      <!-- begin .price-item -->
      <div class="price-item">
        <!-- begin .price_photo -->
        <div class="price_photo">
          <!-- begin .price_photo-bg -->
          <div class="price_photo-bg" style="background-image: url('assets/images/additional-demo2.png');"></div>
          <!-- end .price_photo-bg -->
          <!-- begin .price_photo-cost -->
          <div class="price_photo-cost">16.000₽</div>
          <!-- end .price_photo-cost -->
        </div>
        <!-- end .price_photo -->
        <!-- begin .price_content -->
        <div class="price_content">
          <!-- begin .price_title -->
          <div class="price_title">
            <h4 class="h4">Транспорт</h4>
          </div>
          <!-- end .price_title -->
          <!-- begin .price_info -->
          <div class="price_info">
            <p>Предоставление катафального транспорта для выполнения услуг по перевозке гроба с телом умершего и соправождающих лиц к месту захоронения (автобус ПАЗ)</p>
          </div>
          <!-- end .price_info -->
        </div>
        <!-- end .price_content -->
      </div>
      <!-- end .price-item -->

    </div>
    <!-- end .prices-list -->
  </div>
  <!-- end .content_wrap -->
</div>
<!-- end .content -->
