<!-- begin .content -->
<div class="content">
  <!-- begin .content_wrap -->
  <div class="content_wrap">
    <!-- begin .content_headline -->
    <div class="content_headline">
      <h1 class="h1">Стоимость услуг</h1>
    </div>
    <!-- end .content_headline -->

    <!-- begin .content-box -->
    <div class="content-box prices text">
      <p>На этой странице представлены цены на ритуальные услуги городской службы Ritual.ru. Здесь вы сможете выбрать план похорон, представляющий оптимальную для вашего бюджета стоимость захоронения. </p>

      <p>Только городские похоронные службы (Ritual.ru – старейшая из них) осуществляют похороны москвичей бесплатно, если умерший был неработающим пенсионером или зарегистрированным безработным. Оформление таких похорон производится за счёт федерального и городского пособия на погребение.
    </div>
    <!-- end .content-box -->

  </div>
  <!-- end .content_wrap -->


  <!-- begin .content_wrap -->
  <div class="content_wrap">
    <!-- begin .prices-list -->
    <div class="prices-list">
      <!-- begin .price-item -->
      <div class="price-item">
        <!-- begin .price_photo -->
        <div class="price_photo">
          <!-- begin .price_photo-bg -->
          <div class="price_photo-bg" style="background-image: url('assets/images/additional-demo2.png');"></div>
          <!-- end .price_photo-bg -->
          <!-- begin .price_photo-cost -->
          <div class="price_photo-cost">16.000₽</div>
          <!-- end .price_photo-cost -->
        </div>
        <!-- end .price_photo -->
        <!-- begin .price_content -->
        <div class="price_content">
          <!-- begin .price_title -->
          <div class="price_title">
            <h4 class="h4">Транспорт</h4>
          </div>
          <!-- end .price_title -->
          <!-- begin .price_info -->
          <div class="price_info">
            <p>Предоставление катафального транспорта для выполнения услуг по перевозке гроба с телом умершего и соправождающих лиц к месту захоронения (автобус ПАЗ)</p>
          </div>
          <!-- end .price_info -->
        </div>
        <!-- end .price_content -->
      </div>
      <!-- end .price-item -->
    </div>
    <!-- end .prices-list -->
  </div>
  <!-- end .content_wrap -->
</div>
<!-- end .content -->
