<!-- begin .content -->
<div class="content">
  <!-- begin .content_wrap -->
  <div class="content_wrap">
    <!-- begin .content_headline -->
    <div class="content_headline">
      <h1 class="h1">Стоимость услуг</h1>
    </div>
    <!-- end .content_headline -->

    <!-- begin .content-box -->
    <div class="content-box prices text">
      <p>На этой странице вы сможете выбрать план похорон, представляющий оптимальную для вашего бюджета стоимость захоронения или кремации и ознакомиться с возможными дополнительными услугами.</p>
      <p>Аккредитация компании в городском реестре ритуальных услуг позволяет нам пользоваться заслуженным доверием наших клиентов и обязвает нас обеспечивать алекватные цены на услуги согласно соответсвующим регламентам.</p>
    </div>
    <!-- end .content-box -->

  </div>
  <!-- end .content_wrap -->


  <!-- begin .content_wrap -->
  <div class="content_wrap">
    <!-- begin .content_headline -->
    <div class="content_headline content_headline-sides">
      <h2 class="h2-light">Пакеты услуг</h1>
      <!-- begin .switch -->
      <div class="switch">
        <label class="form-radio">
          <input class="radio" type="radio" name="radio-test" checked>
          <span class="radio-custom"></span>
          <span class="label">кремация</span>
        </label>
        <label class="form-radio">
          <input class="radio" type="radio" name="radio-test">
          <span class="radio-custom"></span>
          <span class="label">погребение</span>
        </label>
      </div>
      <!-- end .switch -->
    </div>
    <!-- end .content_headline -->


    <div class="ionTabs" id="prices" data-name="cremation">
      <!-- begin .prices-tabs -->
      <div class="prices-tabs">

        <ul class="ionTabs__head">
          <li class="ionTabs__tab" data-target="budgetary">бюджетно</li>
          <li class="ionTabs__tab" data-target="optimally">оптимально</li>
          <li class="ionTabs__tab" data-target="luxuriously">роскошно</li>
        </ul>

      </div>
      <!-- end .prices-tabs -->

      <div class="ionTabs__body">
        <div class="ionTabs__item" data-name="budgetary">

          <!-- begin .prices-total -->
          <div class="prices-total">
            <!-- begin .prices-total_items -->
            <div class="prices-total_items">
              <h3 class="h2-light lighter">Что включено</h3>
              <ul class="light-list">
                <li>ритуальные принадлежности</li>
                <li>подготовка тела умершего</li>
                <li>транспорт</li>
                <li>кремация</li>
              </ul>
            </div>
            <!-- end .prices-total_items -->
            <!-- begin .prices-total_cost -->
            <div class="prices-total_cost">33.600&thinsp;<span>₽</span></div>
            <!-- end .prices-total_cost -->
          </div>
          <!-- end .prices-total -->

          {% include "./prices/cremation/budgetary.html" %}

        </div>

        <div class="ionTabs__item" data-name="optimally">

          <!-- begin .prices-total -->
          <div class="prices-total">
            <!-- begin .prices-total_items -->
            <div class="prices-total_items">
              <h3 class="h2-light lighter">Что включено</h3>
              <ul class="light-list">
                <li>ритуальные принадлежности</li>
                <li>подготовка тела умершего</li>
                <li>транспорт</li>
                <li>кремация</li>
              </ul>
            </div>
            <!-- end .prices-total_items -->
            <!-- begin .prices-total_cost -->
            <div class="prices-total_cost">33.600&thinsp;<span>₽</span></div>
            <!-- end .prices-total_cost -->
          </div>
          <!-- end .prices-total -->

          {% include "./prices/cremation/optimally.html" %}

        </div>

        <div class="ionTabs__item" data-name="luxuriously">

          <!-- begin .prices-total -->
          <div class="prices-total">
            <!-- begin .prices-total_items -->
            <div class="prices-total_items">
              <h3 class="h2-light lighter">Что включено</h3>
              <ul class="light-list">
                <li>ритуальные принадлежности</li>
                <li>подготовка тела умершего</li>
                <li>транспорт</li>
                <li>кремация</li>
              </ul>
            </div>
            <!-- end .prices-total_items -->
            <!-- begin .prices-total_cost -->
            <div class="prices-total_cost">33.600&thinsp;<span>₽</span></div>
            <!-- end .prices-total_cost -->
          </div>
          <!-- end .prices-total -->

          {% include "./prices/cremation/luxuriously.html" %}
        </div>

        <div class="ionTabs__preloader"></div>
      </div>
    </div>

  </div>
  <!-- end .content_wrap -->
</div>
<!-- end .content -->


