<!-- begin .content -->
<div class="content">
  <!-- begin .content_wrap -->
  <div class="content_wrap">
    <!-- begin .content_headline -->
    <div class="content_headline">
      <h1 class="h1">справочник</h1>
    </div>
    <!-- end .content_headline -->
  </div>
  <!-- end .content_wrap -->
  <!-- begin .sprav -->
  <div class="sprav">
    <!-- begin .sprav_wrap -->
    <div class="sprav_wrap">
      <!-- begin .sprav_control -->
      <div class="sprav_control">
        <h3 class="h3 h3-light">Специализированные учреждения</h3>
      </div>
      <!-- end .sprav_control -->
    </div>
    <!-- end .sprav_wrap -->
    <!-- begin .sprav_map -->
    <div class="sprav_map">
123132
    </div>
    <!-- end .sprav_map -->
  </div>
  <!-- end .sprav -->
</div>
<!-- end .content -->
