<!-- begin .additional -->
<section class="additional">
  <!-- begin .additional_wrap -->
  <div class="additional_wrap">

    <!-- begin .additional_headline -->
    <div class="additional_headline">
      <h2 class="h2">Дополнительные услуги</h2>
      <a href="#" class="go-link">
        <span class="go-link_text">Перейти в раздел</span>
        <span class="go-link_ico">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 9.627" width="18" height="9.627"><path d="M13.14-4.077v3.3q0 .33.165.39t.375-.15l4.08-4.11a.685.685 0 0 0 .24-.54.685.685 0 0 0-.24-.54l-4.08-4.11q-.21-.21-.375-.15t-.165.39v3.3H.78a.754.754 0 0 0-.555.225.72.72 0 0 0-.225.525v.69a.754.754 0 0 0 .225.557.754.754 0 0 0 .555.225z" transform="translate(0 10)" fill="currentColor" clip-rule="evenodd"/></svg>
        </span>
      </a>
    </div>
    <!-- end .additional_headline -->

    <!-- begin .additional_cards -->
    <div class="additional_cards">

      <!-- begin .additional_card -->
      <div class="additional_card additional_card--big">
        <!-- begin .additional_card-bg -->
        <div class="additional_card-bg" style="background-image: url('assets/images/additional-demo1.png');"></div>
        <!-- end .additional_card-bg -->
        <!-- begin .additional_card-info -->
        <div class="additional_card-info">
          <!-- begin .additional_card-info_title -->
          <div class="additional_card-info_title">организация похорон «под ключ»</div>
          <!-- end .additional_card-info_title -->
          <!-- begin .additional_card-info_cost -->
          <div class="additional_card-info_cost">от 49.000₽</div>
          <!-- end .additional_card-info_cost -->
        </div>
        <!-- end .additional_card-info -->
      </div>
      <!-- end .additional_card -->

      <!-- begin .additional_card -->
      <div class="additional_card additional_card--long">
        <!-- begin .additional_card-bg -->
        <div class="additional_card-bg" style="background-image: url('assets/images/additional-demo2.png');"></div>
        <!-- end .additional_card-bg -->
        <!-- begin .additional_card-info -->
        <div class="additional_card-info">
          <!-- begin .additional_card-info_title -->
          <div class="additional_card-info_title">lincoln navigator</div>
          <!-- end .additional_card-info_title -->
          <!-- begin .additional_card-info_cost -->
          <div class="additional_card-info_cost">18.900₽</div>
          <!-- end .additional_card-info_cost -->
        </div>
        <!-- end .additional_card-info -->
      </div>
      <!-- end .additional_card -->

      <!-- begin .additional_card -->
      <div class="additional_card">
        <!-- begin .additional_card-bg -->
        <div class="additional_card-bg" style="background-image: url('assets/images/additional-demo3.png');"></div>
        <!-- end .additional_card-bg -->
        <!-- begin .additional_card-info -->
        <div class="additional_card-info">
          <!-- begin .additional_card-info_title -->
          <div class="additional_card-info_title">венок 180см</div>
          <!-- end .additional_card-info_title -->
          <!-- begin .additional_card-info_cost -->
          <div class="additional_card-info_cost">8.500₽</div>
          <!-- end .additional_card-info_cost -->
        </div>
        <!-- end .additional_card-info -->
      </div>
      <!-- end .additional_card -->

      <!-- begin .additional_card -->
      <div class="additional_card">
        <!-- begin .additional_card-bg -->
        <div class="additional_card-bg" style="background-image: url('assets/images/additional-demo4.png');"></div>
        <!-- end .additional_card-bg -->
        <!-- begin .additional_card-info -->
        <div class="additional_card-info">
          <!-- begin .additional_card-info_title -->
          <div class="additional_card-info_title">гроб полированный</div>
          <!-- end .additional_card-info_title -->
          <!-- begin .additional_card-info_cost -->
          <div class="additional_card-info_cost">82.000₽</div>
          <!-- end .additional_card-info_cost -->
        </div>
        <!-- end .additional_card-info -->
      </div>
      <!-- end .additional_card -->

    </div>
    <!-- end .additional_cards -->

  </div>
  <!-- end .additional_wrap -->
</section>
<!-- end .additional -->
