<div class="ionTabs" id="cremation" data-name="cremation_prices">
  <!-- begin .prices-tabs -->
  <div class="prices-tabs">

    <ul class="ionTabs__head">
      <li class="ionTabs__tab ionTabs__tab_state_active" data-target="cremation_budgetary">бюджетно</li>
      <li class="ionTabs__tab" data-target="cremation_optimally">оптимально</li>
      <li class="ionTabs__tab" data-target="cremation_luxuriously">роскошно</li>
    </ul>

  </div>
  <!-- end .prices-tabs -->

  <div class="ionTabs__body">
    <div class="ionTabs__item ionTabs__item_state_active" data-name="cremation_budgetary">

      <!-- begin .prices-total -->
      <div class="prices-total">
        <!-- begin .prices-total_items -->
        <div class="prices-total_items">
          <h3 class="h2-light lighter">Что включено</h3>
          <ul class="light-list">
            <li>ритуальные принадлежности</li>
            <li>подготовка тела умершего</li>
            <li>транспорт</li>
            <li>кремация</li>
          </ul>
        </div>
        <!-- end .prices-total_items -->
        <!-- begin .prices-total_cost -->
        <div class="prices-total_cost">33.600&thinsp;<span>₽</span></div>
        <!-- end .prices-total_cost -->
      </div>
      <!-- end .prices-total -->

      {% include "./budgetary.html" %}

    </div>

    <div class="ionTabs__item" data-name="cremation_optimally">

      <!-- begin .prices-total -->
      <div class="prices-total">
        <!-- begin .prices-total_items -->
        <div class="prices-total_items">
          <h3 class="h2-light lighter">Что включено</h3>
          <ul class="light-list">
            <li>ритуальные принадлежности</li>
            <li>подготовка тела умершего</li>
            <li>транспорт</li>
            <li>кремация</li>
          </ul>
        </div>
        <!-- end .prices-total_items -->
        <!-- begin .prices-total_cost -->
        <div class="prices-total_cost">53.000&thinsp;<span>₽</span></div>
        <!-- end .prices-total_cost -->
      </div>
      <!-- end .prices-total -->

      {% include "./optimally.html" %}

    </div>

    <div class="ionTabs__item" data-name="cremation_luxuriously">

      <!-- begin .prices-total -->
      <div class="prices-total">
        <!-- begin .prices-total_items -->
        <div class="prices-total_items">
          <h3 class="h2-light lighter">Что включено</h3>
          <ul class="light-list">
            <li>ритуальные принадлежности</li>
            <li>подготовка тела умершего</li>
            <li>транспорт</li>
            <li>кремация</li>
          </ul>
        </div>
        <!-- end .prices-total_items -->
        <!-- begin .prices-total_cost -->
        <div class="prices-total_cost">94.570&thinsp;<span>₽</span></div>
        <!-- end .prices-total_cost -->
      </div>
      <!-- end .prices-total -->

      {% include "./luxuriously.html" %}
    </div>

    <div class="ionTabs__preloader"></div>
  </div>
</div>
