<!-- begin .modal -->
<div id="call_agent" class="modal modal-card mfp-hide">
  <!-- begin .modal_body -->
  <div class="modal_body">
    <!-- begin .modal_content -->
    <div class="modal_content">
      <!-- begin .modal_logo -->
      <div class="modal_logo">
        123
      </div>
      <!-- end .modal_logo -->
    </div>
    <!-- end .modal_content -->
  </div>
  <!-- end .modal_body -->
  <button title="Close (Esc)" type="button" class="mfp-close _mfp-close"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.001 9.483" width="8.001" height="9.483"><path data-name="Union 1" d="M6.217 9.12L4 6.493 1.784 9.12a.934.934 0 0 1-1.478 0 1.408 1.408 0 0 1 0-1.752l2.216-2.627L.306 2.114a1.406 1.406 0 0 1 0-1.751.934.934 0 0 1 1.478 0L4 2.99 6.217.363a.934.934 0 0 1 1.478 0 1.406 1.406 0 0 1 0 1.751L5.478 4.741l2.217 2.627a1.408 1.408 0 0 1 0 1.752.934.934 0 0 1-1.478 0z" fill="currentColor"/></svg></button>
</div>
<!-- end .modal -->
