.header {
  background-color: #1D1D1D;
  padding: 0;
  margin: 0;
  min-height: 818px;

  &_bg {
    z-index: -1;
    position: absolute;
    bottom: -1px;
    left: -86px;
    right: 0;
    width: 850px;
    height: 617px;
    margin: 0;
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &_wrap {
    max-width: 980px;
    margin: 180px auto 0 auto;
    height: calc(818px - 180px);
    z-index: 1;
    position: relative;
  }

  &_main {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-left: 300px;
  }

  &--light {
    background-color: transparent;
    min-height: auto;

    .header_wrap {
      height: auto;
      margin: 0 auto;
    }
  }
}

.headline {
  color: #FFFFFF;

  h1 {
    font-family: 'Playfair Display';
    font-size: 99px;
    line-height: 132px;
    text-transform: uppercase;
  }

  p {
    font-family: 'Open Sans';
    font-size: 21px;
    line-height: 28px;
    margin: 0;
  }

  &_actions {
    margin-top: 70px;
  }
}
