.header {
  background-color: #1D1D1D;
  padding: 0;
  margin: 0;
  min-height: 818px;

  &_bg {
    z-index: -1;
    position: absolute;
    bottom: -1px;
    left: -86px;
    right: 0;
    width: 850px;
    height: 617px;
    margin: 0;
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &_wrap {
    max-width: 980px;
    margin: 180px auto 0 auto;
    height: calc(818px - 180px);
    z-index: 1;
    position: relative;
  }

  &_main {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-left: 300px;
  }

  &--light {
    background-color: transparent;
    min-height: auto;

    .header_wrap {
      max-width: 1169px;
      height: auto;
      margin: 0 auto;
      padding: 25px 0 30px 0;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
    }

    .menu-link {
      color: #2E2B77;

      &:hover {
        font-weight: 100;
      }
    }
  }

  &-nav {
    display: flex;
    align-items: center;
    align-content: center;

    &_box {
      display: flex;
      align-items: center;
      align-content: center;
      margin-right: 20px;
    }

    &_actions { }
  }
}

.headline {
  color: #FFFFFF;

  h1 {
    color: #FFFFFF;
    font-family: 'Playfair Display';
    font-size: 99px;
    line-height: 132px;
    text-transform: uppercase;
  }

  p {
    font-family: 'Open Sans';
    font-size: 21px;
    line-height: 28px;
    margin: 0;
  }

  &_actions {
    margin-top: 70px;
  }
}

.hamburger {
  display: flex;
  width: 40px;
  height: 28px;
  flex-direction: column;
  transition: .3s ease;
  position: relative;
  justify-content: space-between;

  &-wrap {
    cursor: pointer;
    padding: 20px;
    position: relative;
    display: flex;
    flex-grow: 1;
    height: 100%;
    align-items: center;
    transition: all .3s ease;

    &:hover {

      .hamburger_i {
        border-color: #2E2B77;
        background-color: #2E2B77;
      }
    }

    &.is-active {

      .hamburger {

        .hamburger_i {
          animation: pulse 1.8s tocross;
          background-color: #ffffff;

          &:nth-child(1) {
            transform: translate(0px, 13px) rotate(45deg);
          }

          &:nth-child(2) {
            background-color: #262d30;
            opacity: 0;
            transform: translate(0px, 0px);
          }

          &:nth-child(3) {
            transform: translate(0px, -13px) rotate(-45deg);
          }
        }
      }
    }
  }

  &_i {
    background-color: #666666;
    height: 2px;
    border: 1px solid #707070;
    border-radius: 2px;
    width: 100%;
    transition: all .3s linear;
    position: relative;
  }
}
